/* styles.css */

/* General Background */
body {
    background-color: #34495e;
    color: #1f1f1f;
    font-family: Arial, sans-serif;
}

/* Navigation and Index Page Links */
.nav-link, .index-link {
    color: #EAEAEA;
    text-decoration: none;
    margin: 15px 0;  /* Increased top and bottom margin */
    padding: 10px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    display: block;  /* Display as block to take full width and help with alignment */
    transition: background-color 0.2s;
}

.nav-link:hover, .index-link:hover {
    background-color: #EAEAEA;
    color: #34495e;
}

/* Common colors */
:root {
    --background-color: #34495e;
    --text-color: #EAEAEA;
    --control-background-color: #1E1E1E;
    --border-color: #333;
    --max-width: 100%;
    --dropdown-text-color: #B0B0B0
}

/* Override Bootstrap Dropdown styles */
.dropdown-control .css-1wa3eu0-placeholder,
.dropdown-control .css-1uccc91-singleValue {
    color: var(--dropdown-text-color) !important;
}

/* Targeting the dropdown items using the 'select-menu-outer' class */
.select-menu-outer {
    color: var(--dropdown-text-color) !important;
}

/* Navbar */
.navbar-simple {
    max-width: var(--max-width);
    margin: 0 auto;
}

.navbar-row {
    width: 100%;
    align-items: center;
}

/* Body */
.body-container {
    background-color: var(--background-color);
    max-width: var(--max-width);
    margin: 0 auto;
}

.col-padding {
    padding: 20px;
}

/* Top menu styles */
.top-menu {
    background-color: var(--control-background-color);
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    color: var(--text-color);
    max-width: var(--max-width);
}

.menu-font {
    margin-right: 10px;
    color: var(--text-color);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}
